{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
<h1>About Us</h1>
<p>Dobrodošli na naš web sajt za popis obaveza! Kreirali smo ovaj sajt kako bismo vam pomogli da pratite svoje zadatke i obavite stvari učinkovitije.</p>

<h1>Karakteristike</h1>
<ul>
    <li>Stvarajte zadatke i dodeljujte im rokove</li>
    <li>Organizujte zadatke u kategorije</li>
</ul>

<h1>Zašto koristiti našu sajt?</h1>
<ul>
    <li> S obzirom na toliko aplikacija za popis obaveza postoje, možda se pitate zašto biste odabrali našu. Evo nekoliko razloga:</li><br>
    <li>Naša stranica je besplatna i jednostavna za korišćenje</li>
    <li>Nudimo različite karakteristike koje vam pomažu u upravljanju zadacima</li>
    <li>Naša stranica je sigurna, a vaši podaci su zaštićeni</li>
    <li>Neprestano ažuriramo i poboljšavamo našu stranicu na temelju povratnih informacija korisnika</li>
</ul>

<h1>Kontaktirajte nas</h1>
<p>Ako imate bilo kakvih pitanja ili povratnih informacija, slobodno nas kontaktirajte na <b><span style="color: #067af8; ">ai20200236@student.fon.bg.ac.rs</span></b> i <b><span style="color: #067af8;">lm20200136@student.fon.bg.ac.rs</span></b>.</p>

{% endblock %}
